@media (max-width: 570px) {
    .header  .mobile {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header .mobile .menu-toggle {
        color: red;
        background-color: #fff;
        margin-left: 5px;
        border: 0;
    }
}