@media (max-width: 570px) {


    .header .off {
      display: none;
    }

    .header .on {
      background-color: #032e5a;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 10;
      height: 100%;
    }    
    .header .on nav .menu-up ul {
        display: flex;
        flex-direction: row;
        border-bottom: 0.5px #555 solid;
        padding-bottom: 22px;
        max-width: 290px;
    }
      
    .header .on nav .menu-up ul li {
        list-style: none;
        margin-top: 20px;
    }
      
    .header .on nav .menu-up ul li a {
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        font-size: 18px;
        padding: 24px;
        transition: all 250ms linear 0s;
        border-right: 0.5px #555 solid;
        text-align: left;
    }

    .header .on  nav .menu-up  ul li button {
      background-color: #032e5a;
      border: 0;
      position: absolute;
      right: 10px;
      top: 10px;
    }
      
    .header .on nav .menu-up ul li a:hover {
      background-color: #2d3e4e;
    }

    .header .on nav .menu-bottom ul {
      display: flex;
      align-items: flex-start;
      justify-content: left;
      flex-direction: column;
    }

    .header .on nav .menu-bottom ul li {
      list-style: none;
      margin-left: 30px;
      margin-top: 40px;
      font-size: 16px;
      color: #fff;
    }

    .header .on nav .menu-bottom ul li a {
      text-decoration: none;
      color: #fff;
    }

    .header .on nav .menu-bottom ul li span {
      font-size: 14px;
      margin-bottom: 15px;
      color: #ccc;
    }

    .header .on nav .menu-bottom ul li button {
      position: absolute;
      background-color: #4aa912;
      border-radius: 5px;
      left: 200px;
      top: 340px;
      width: 50px;
      height: 50px;
      border: 0;
    }

    .header .on nav .menu-bottom ul li i img {
      width: 50px;
      height: 50px;
      margin-top: 5px;
      margin-left: 5px;
      margin-bottom: 20px;
    }

}

